@* @attribute [Authorize(Roles = "Admin")] *@
@using Microsoft.AspNetCore.Authorization
@page "/reservas"

@using PruebaMudBlazor2.Shared.Models
@using PruebaMudBlazor2.Client.Services
@inject ISociosApiClient SociosApi
@inject IReservasApiClient ReservasApi
@inject IAlumnosApiClient AlumnosApi
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IEventosApiClient EventosApi

<div class="reserva-main">
  <MudText Typo="Typo.h6">RESERVA DE MOCHILAS 2026</MudText>
  <MudChip T="string">Reserva o consulta tu pedido Ingresando tu DNI</MudChip>


  <MudCard>
    <MudCardContent>
      <div class="user-validate">
        <MudTextField @bind-Value="@NroDni" Label="DNI" PlaceHolder="Ingresa tu DNI" Reverse="false" tabindex="0"
          Disabled="@btnValidarVisible" OnKeyDown="OnKeyPressHandler" MaxLength="8" @ref="txtDni"></MudTextField>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Raised @onclick="ValidarUsuario"
          EndIcon="@Icons.Material.Filled.Check" @bind-Disabled="@btnValidarVisible">Validar</MudButton>
        <MudButton Variant="Variant.Filled" Raised OnClick="Limpiar" EndIcon="@Icons.Material.Filled.Close"
          Color="Color.Error" Disabled="@(btnCancelIsDisable)">Cancelar</MudButton>
      </div>
      <div class="event-selection mt-4">
        <MudSelect T="EventosAño" Label="Seleccione un Evento del Año" @bind-Value="selectedEventosAño"
          ToStringFunc="@(ea => $"{ea?.NombreEvento}")" Variant="Variant.Filled" Required="true" Disabled>
          @* Disabled="@(eventosAñoList == null || !eventosAñoList.Any())" 
          ToStringFunc="@(ea => $"{ea?.Id}, EventoId: {ea?.EventoId}, Estado: {ea?.Estado}, Nombre: {ea?.NombreEvento}")" *@
          @foreach (var ea in eventosAñoList)
          {
            <MudSelectItem Value="ea">@($"{ea.NombreEvento}")</MudSelectItem>
            @* <MudSelectItem Value="ea">@($"{ea.Id}, EventoId: {ea.EventoId}, Estado: {ea.Estado}, Nombre:            {ea.NombreEvento}")</MudSelectItem> *@
          }
        </MudSelect>
      </div>
    </MudCardContent>
  </MudCard>

  <br />

  @if (_isLoading)
  {
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
  }


  @if (NroDeReserva == 0)
  {
    <div class="reserva-content">
      <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Socio" Expanded="true">
          <div class="">
            <MudCard>
              <MudCardMedia Image="@imagenSrc" alt="Foto" ObjectFit="ObjectFit.ScaleDown" Height="300" />
              <MudCardContent>
                <MudText>
                  <h4>SOCIO Nº @maesoc.MaesocNroafil</h4>
                </MudText>
                <MudText>
                  <h3>@maesoc.Apenom</h3>
                </MudText>
              </MudCardContent>
            </MudCard>
          </div>
        </MudExpansionPanel>
      </MudExpansionPanels>


      <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Grupo familiar" Expanded>
          <div class="">
            @if (ALumnos != null)
            {
              @if (ALumnos.Count() > 0)
              {
                <GrupoFamiliar alumnos="ALumnos" OnCicloSeleccionado="ActualizarAlumno" />
              }
            }
          </div>
        </MudExpansionPanel>
      </MudExpansionPanels>
    </div>
  }
</div>

@code {

  private MudTextField<string?> txtDni;
  private bool btnCancelIsDisable = true;

  // New properties for EventosAño selection
  private List<EventosAño> eventosAñoList = new();
  private EventosAño? selectedEventosAño;

  protected override async Task OnInitializedAsync()
  {
    NroDeReserva = -1;
    Reserva = new EventosCupone();
    Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
    btnValidarVisible = true;
    maesoc = null; // Initialize maesoc to null
    await LoadFilteredEventosAño(); // Load filtered EventosAño on initialization
  }

  private async Task LoadFilteredEventosAño()
  {
    try
    {
      // Here, 4 is the EventoId for "Mochilas" and 1 is the Estado for "Activo"
      eventosAñoList = await EventosApi.GetEventosAñoFiltered(4, 1);

      // Add console output for verification
      @* foreach (var ea in eventosAñoList)
      {
        Console.WriteLine($"EventosAño - Id: {ea.Id}, EventoId: {ea.EventoId}, Estado: {ea.Estado}, NombreEvento: {ea.NombreEvento}");
      } *@

      selectedEventosAño = eventosAñoList.FirstOrDefault();
    }
    catch (Exception ex)
    {
      Snackbar.Add($"Error al cargar eventos del año filtrados: {ex.Message}", Severity.Error);
    }
  }


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      btnValidarVisible = false;
      StateHasChanged();
      await txtDni.FocusAsync();
    }
  }

  private GrupoFamiliar.CicloSeleccionadoEventArgs cicloSeleccionadoEventArgs = new
  GrupoFamiliar.CicloSeleccionadoEventArgs();

  private async Task ActualizarAlumno(GrupoFamiliar.CicloSeleccionadoEventArgs cicloSeleccionadoEventArgs)
  {
    this.cicloSeleccionadoEventArgs.Alumnos = cicloSeleccionadoEventArgs.Alumnos;
    this.cicloSeleccionadoEventArgs.Files = cicloSeleccionadoEventArgs.Files;
    btnConfirmarIsVisible = true;

    var dialog = await OpenDialogAsync();
    var result = await dialog.Result;

    if (!result.Canceled)
    {
      await ValidarUsuario();
    }

    StateHasChanged();
  }

  Maesoc? maesoc; // Allow maesoc to be null
  Foto fotoTitular = new Foto();
  public string EstadoSocio;
  public string NroDeSocio;
  public bool EsSocio = false;
  private bool _isLoading = false;
  public bool ExisteEmpleado;
  public bool TieneNroDeSocio = true;
  public string imagenSrc;
  public string? NroDni { get; set; } = "";
  public List<Alumno>? ALumnos;
  public List<EventosCupone>? EnAprobacion;
  public int NroDeReserva = 0;

  public async Task ValidarUsuario()
  {
    if (NroDni != null)
    {
      _isLoading = true;
      btnValidarVisible = true;

      maesoc = await SociosApi.GetSocioByDniAsync(NroDni);

      if (maesoc != null)
      {
        ExisteEmpleado = true;

        var foto = await SociosApi.GetFotoTitularAsync(maesoc.MaesocCuil);
        if (foto == null)
        {
          imagenSrc = "https://fileserver.secsantiago.com.ar/api/v1/download/0.png";
        }
        else
        {
          imagenSrc = "https://fileserver.secsantiago.com.ar/api/v1/download/titulares_" + maesoc.MaesocCuil.ToString().Trim() +
          ".png";
        }

        EsSocio = await SociosApi.EsSocioActivoAsync(NroDni);

        if (EsSocio)
        {
          if (await SociosApi.GetCarenciaAsync(maesoc.MaesocCuil))
          {
            if (await SociosApi.CumpleConAporteMinimoAsync(maesoc.MaesocCuil))
            {
              if (selectedEventosAño != null)
              {
                NroDeReserva = await ReservasApi.GetNroDeReservaPorCuilAsync(maesoc.MaesocCuil, selectedEventosAño.Id);
              }
              else
              {
                Snackbar.Add("Por favor, seleccione un evento.", Severity.Warning);
                _isLoading = false;
                return;
              }

              if (NroDeReserva == 0)
              {
                ALumnos = await AlumnosApi.GetAlumnosPorCuilAsync(maesoc.MaesocCuil);
              }
              else
              {
                @* Snackbar.Add("El socio SI Tiene Reserva", Severity.Info); *@
              }
              await VerificarVariable();
              btnCancelIsDisable = false;
            }
            else
            {
              Snackbar.Add("NO podes realizar tu Reserva - Tu Aporte no Cumple el Minimo de $11 000", Severity.Info);
              Limpiar();
            }
          }
          else
          {
            Snackbar.Add("NO podes realizar tu Reserva - NO Cumples con la Carencia", Severity.Info);
            Limpiar();
          }
        }
        else
        {
          Snackbar.Add("NO es Socio", Severity.Error);
          Limpiar();
        }
      }
      else
      {
        Snackbar.Add("El DNI Ingresado NO existe", Severity.Error);
        Limpiar();
      }
    }
    else
    {
      imagenSrc = "Pictures/Titulares/0.png";
    }
    _isLoading = false;
  }

  private MudMessageBox _mudMessageBox;
  private string _mensaje;
  private string _Title;
  private bool _showMessageBox = false;

  private async Task VerificarVariable()
  {
    if (NroDeReserva > 0)
    {
      if (selectedEventosAño == null)
      {
        Snackbar.Add("No se ha seleccionado ningún evento.", Severity.Error);
        return;
      }
      Reserva = await ReservasApi.GetReservaAsync(NroDeReserva, selectedEventosAño.Id);
      btnConfirmarIsVisible = false;
      await OpenDialogAsync();
    }
  }

  private void CerrarMessageBox()
  {
    _showMessageBox = false;
  }

  bool btnValidarVisible { get; set; } = false;
  bool btnConfirmarIsVisible { get; set; } = false;
  bool isReservado { get; set; } = false;
  bool snackBarIsOpen = false;
  bool dialogIsOpen = false;

  void OpenDialog()
  {
    dialogIsOpen = true;
  }

  private EventosCupone Reserva;

  private Task<IDialogReference> OpenDialogAsync()
  {
    var options = new DialogOptions { CloseOnEscapeKey = true };
    var parameters = new DialogParameters<DialogInfo>
{
{ x => x.btnConfirmarIsVisible, btnConfirmarIsVisible },
{ x => x.alumnos, ALumnos },
{ x => x.socio, maesoc },
{ x => x.EstadoReserva, Reserva },
{ x => x._files2, cicloSeleccionadoEventArgs.Files },
{ x => x.EventosAñoId, selectedEventosAño?.Id ?? 0 } // Pass the selected EventosAñoId
};
    return DialogService.ShowAsync<DialogInfo>("Simple Dialog", parameters, options);
  }

  private void OpenSnackBar()
  {
    Snackbar.Add("No estas registrado como socio", Severity.Error);
  }

  void EnableBtnValidar()
  {
    btnValidarVisible = true;
    NroDeReserva = -1;
    StateHasChanged();
  }

  void FinalizarReserva()
  {
    dialogIsOpen = true;
    btnConfirmarIsVisible = true;
    OpenDialogAsync();
  }

  private bool found = false;

  private async void OnKeyPressHandler(KeyboardEventArgs e)
  {
    if (e.Key == "Enter" && !btnValidarVisible)
    {
      await ValidarUsuario();
      StateHasChanged();
    }
  }

  private async void Limpiar()
  {
    NroDeReserva = -1;
    btnValidarVisible = false;
    btnCancelIsDisable = true;
    _isLoading = false;
    ALumnos = null;
    await txtDni.Clear();
    await txtDni.FocusAsync();
  }

  private void OnEnterPressed()
  {
    Snackbar.Add($"Enter presionado. Valor ingresado: {NroDni}", Severity.Info);
  }
}